<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="memberSpace">

    <insert id="memberSave" parameterType="memberDTO">
        insert into member_table(member_name, member_email, member_pass, member_age) values (#{member_name},
                                                                                             #{member_email},
                                                                                             #{member_pass},
                                                                                             #{member_age})
    </insert>

</mapper>