<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.dto.DF01_MemberDTO" alias="member" />
        <typeAlias type="com.example.dto.DF02_BoardDTO" alias="board" />
        <typeAlias type="com.example.dto.DF03_ReplyDTO" alias="reply" />
        <typeAlias type="com.example.dto.DF04_LikePointDTO" alias="likepoint" />
        <typeAlias type="com.example.dto.DF05_FileDTO" alias="file" />
    </typeAliases>
</configuration>