<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- dispatcher-servlet.xml : 내부 웹 접근 및 처리 작업 설정 파일 -->

    <!-- 접근 자원에 대한 권한 설정, 실제로 디렉토리가 있어야 사용이 가능 -->
    <!-- webapp 이 root -->
    <resources mapping="/resources/**" location="/resources/"/>
    <resources mapping="/data/**" location="/data/"/>
    <resources mapping="/admin/**" location="/WEB-INF/views/admin" />
    <resources mapping="/board/**" location="/WEB-INF/views/board" />
    <resources mapping="/check/**" location="/WEB-INF/views/check"/>
    <resources mapping="/databank/**" location="/WEB-INF/views/databank"/>
    <resources mapping="/free/**" location="/WEB-INF/views/free"/>
    <resources mapping="/**" location="/WEB-INF/views/index"/>
    <resources mapping="/include/**" location="/WEB-INF/views/include"/>
    <resources mapping="/member/**" location="/WEB-INF/views/member"/>
    <resources mapping="/notice/**" location="/WEB-INF/views/notice"/>
    <resources mapping="/qna/**" location="/WEB-INF/views/qna"/>
    <resources mapping="/reservation/**" location="/WEB-INF/views/reservation"/>
    <resources mapping="/util/**" location="/WEB-INF/views/util"/>

    <!-- 리졸버에 대한 접두사와 접미사 설정 -->
    <!--
        ex)
        /notice/noticeList 를 호출할 경우 실제 경로인
        /WEB-INF/views, .jsp 를 합쳐서 불러옴
    -->
    <beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property name="prefix" value="/WEB-INF/views" /> <!-- 접두사 -->
        <beans:property name="suffix" value=".jsp" /> <!-- 접미사 -->
    </beans:bean>

    <!-- 멀티파트 리졸버 설정 -->
    <!-- 파일 업로드와 관련된 리졸버 설정 -->
    <beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <beans:property name="maxUploadSize" value="10485768"/> <!-- 파일 업로드 최대 사이즈 지정 -->
    </beans:bean>

    <!-- 멀티파트 업로드 디렉토리 지정 -->
    <beans:bean id="uploadPath" class="java.lang.String">
        <!-- 개발자 서버에서 자신의 디렉토리 경로에 저장 -->
        <beans:constructor-arg value="C:\lsj\worksapce-intelij\DFMavenJava17Sample\src\main\webapp\upload\img" />
    </beans:bean>

    <!-- 기본 메인 패키지 및 컨트롤러 패키지 설정 -->
    <!-- 여기안에 컨트롤러 dto, dao 등을 만들어서 사용 -->
    <context:component-scan base-package="com.example"/>

    <!-- 인터셉터 : 글쓰기와 같은 회원권한을 가진 경우는 반드시 로그인 페이지를 거쳐서 시도할 것  -->
    <beans:bean id="sampleIntercepter" class="kr.co.teaspoon.util.SampleIntercepter" />
    <beans:bean id="adminIntercepter" class="kr.co.teaspoon.util.AdminIntercepter" />
    <interceptors>
        <interceptor>
            <!-- free 디렉토리 내의 모든 것은 sampleIntercepter 클래스에서 제시한 조건이 맞으면 접근 가능 -->
            <mapping path="/free/**"/>
            <beans:ref bean="sampleIntercepter" />
        </interceptor>
        <interceptor>
            <!-- admin 디렉토리 내의 모든 것은 adminIntercepter 클래스에서 제시한 조건이 맞으면 접근 가능 -->
            <mapping path="/admin/**"/>
            <beans:ref bean="adminIntercepter" />
        </interceptor>
    </interceptors>
</beans:beans>