<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <!--select, insert, update, delete-->

    <!--회원가입 insert, select-->
    <insert id="memberJoin" parameterType="member">
        insert into member(id, password, email, name, nick_name, phone, zipcode, streetAddress, detailAddress, gender, birthday, regdate, updated_date, member_level)
        values (#{id}, #{password}, #{email}, #{name}, #{nick_name}, #{phone}, #{zipcode}, #{streetAddress}, #{detailAddress}, #{gender}, #{birthday}, now(), now(), 1)
    </insert>

    <!--회원가입시 아이디 중복 검사-->
    <select id="findById" parameterType="String" resultType="member">
        select * from member where id=#{inputId}
    </select>

    <!--회원가입시 닉네임 중복 검사-->
    <select id="findByNickName" parameterType="String" resultType="member">
        select * from member where nick_name=#{inputNickName}
    </select>

    <!--로그인 select-->
    <select id="memberLogin" parameterType="member" resultType="member">
        select * from member where id = #{id} and password = #{password}
    </select>

    <!--회원 상세 정보 select-->
<!--    <select id="findByMno" parameterType="int" resultType="member">-->
<!--        select * from member where mno=#{mno}-->
<!--    </select>-->
    <select id="memberDetail" parameterType="member" resultType="member">
        select * from member where id=#{id}
    </select>

    <!--회원 정보 수정 update-->
<!--    <update id="memberUpdate" parameterType="member">-->
<!--        update member set  where mno = #{mno}-->
<!--    </update>-->


    <!--로그인된 아이디로 해당 아이디의 mno 찾기-->
    <select id="findMno" parameterType="String" resultType="member">
        select mno from member where id=#{loginId}
    </select>

    <!--로그인된 아이디로 해당 아이디의 모든 정보 찾기-->
    <select id="findByLoginId" parameterType="String" resultType="member">
        select * from member where id=#{loginId}
    </select>

    <!--회원 탈퇴 delete-->
    <delete id="memberDelete" parameterType="int">
        delete from member where mno = #{mno}
    </delete>

</mapper>