<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

    <!--게시글 쓰기-->
    <insert id="writeBoard" parameterType="board">
        insert into board(title, content, like_counts, view_counts, written_date, updated_date, category, mno)
        values (#{title}, #{content}, 0, 0, now(), now(), #{category}, #{mno})
        <selectKey keyProperty="bno" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS bno
        </selectKey>
    </insert>


    <!--게시글 목록-->
    <select id="findAllBoard" resultType="board">
        select *
        from board
        order by bno desc
    </select>


    <!--전체 게시글 페이지 리스트-->
    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select *
        from board
        order by bno desc limit #{start}, #{limit}
    </select>

    <!--전체 게시글 갯수 조회-->
    <select id="boardCount" resultType="Integer">
        select count(bno)
        from board
    </select>

    <!--자유 게시글 페이지 리스트-->
    <select id="pagingListFree" parameterType="java.util.HashMap" resultType="board">
        select *
        from board
        where category = 1
        order by bno desc limit #{start}, #{limit}
    </select>

    <!--자유 게시글 갯수 조회-->
    <select id="boardCountFree" resultType="Integer">
        select count(bno)
        from board
        where category = 1
    </select>

    <!--정보 게시글 페이지 리스트-->
    <select id="pagingListInfo" parameterType="java.util.HashMap" resultType="board">
        select *
        from board
        where category = 2
        order by bno desc limit #{start}, #{limit}
    </select>

    <!--정보 게시글 갯수 조회-->
    <select id="boardCountInfo" resultType="Integer">
        select count(bno)
        from board
        where category = 2
    </select>

    <!--공지 게시글 페이지 리스트-->
    <select id="pagingListNoti" parameterType="java.util.HashMap" resultType="board">
        select *
        from board
        where category = 0
        order by bno desc limit #{start}, #{limit}
    </select>

    <!--공지 게시글 갯수 조회-->
    <select id="boardCountNoti" resultType="Integer">
        select count(bno)
        from board
        where category = 0
    </select>

    <!--내가 쓴 게시글 페이지 리스트-->
    <select id="pagingListMyBoard" parameterType="java.util.HashMap" resultType="board">
        select *
        from board
        WHERE mno = #{mno}
        order by bno desc limit #{start}, #{limit}
    </select>

    <!--내가 쓴 게시글 갯수 조회-->
    <select id="boardCountMyBoard" resultType="Integer">
        select count(bno)
        from board
        where mno = #{mno}
    </select>

    <!--내가 좋아하는 게시글 페이지 리스트-->
<!--    <select id="pagingListMyLike" parameterType="java.util.HashMap" resultType="board">-->
<!--        select *-->
<!--        from board-->
<!--        WHERE mno = #{mno}-->
<!--        order by bno desc limit #{start}, #{limit}-->
<!--    </select>-->

    <select id="pagingListMyLike" parameterType="java.util.HashMap" resultType="board">
        select b.*
        from board b
                 inner join likepoint l on b.bno = l.bno
        where l.mno = #{mno}
        order by b.bno desc
            limit #{start}, #{limit}
    </select>

    <!--내가 좋아하는 게시글 갯수 조회-->
<!--    <select id="boardCountMyLike" resultType="Integer">-->
<!--        select count(bno)-->
<!--        from board-->
<!--        where mno = #{mno}-->
<!--    </select>-->

    <select id="boardCountMyLike" resultType="Integer">
        select count(b.bno)
        from board b
                 inner join likepoint l on b.bno = l.bno
        where l.mno = #{mno}
    </select>


    <!--bno로 상세 게시글 찾기-->
    <select id="findByBoardBno" parameterType="int" resultType="board">
        select *
        from board
        where bno = #{bno}
    </select>

    <!--조회수 업데이트-->
    <update id="view_counts" parameterType="int">
        update board
        set view_counts = view_counts + 1
        where bno = #{bno}
    </update>

    <!--게시글 업데이트-->
    <update id="updateBoard" parameterType="board">
        update board
        set title=#{title},
            content=#{content},
            category=#{category},
            updated_date=now()
        where bno = #{bno}
    </update>

    <!--게시글 삭제-->
    <delete id="deleteBoard" parameterType="int">
        delete
        from board
        where bno = #{bno}
    </delete>

    <!--작성자와 게시글 일치-->
    <select id="findAuthorMnoByBoardBno" parameterType="int" resultType="int">
        select mno
        from board
        where bno = #{bno}
    </select>

    <!--모든 게시글 찾기-->
    <select id="findAll" resultType="board">
        select *
        from board
    </select>

    <!--조회수 많은 10개 72시간 기준-->
    <select id="findViewBoard10" resultType="board">
        select *
        from board
        where written_date >= now() - interval 72 hour
        order by view_counts desc limit 10
    </select>

    <!--좋아요 수-->
    <update id="decreaseLikePoints" parameterType="board">
        update board
        set like_counts = like_counts - 1
        where bno = #{bno}
    </update>

    <update id="increaseLikePoints" parameterType="board">
        update board
        set like_counts = like_counts + 1
        where bno = #{bno}
    </update>

    <!-- 파일 bno 다음번 bno 주기 -->
    <select id="getNextBno" resultType="int">
        select IFNULL(MAX(bno) + 1, 1) as nextBno from board;
    </select>


    <!--좋아요 수가 bno +- 2씩되는거-->
<!--    <update id="decreaseLikePoints" parameterType="board">-->
<!--        update board-->
<!--        set like_counts = #{like_counts} - 1-->
<!--        where bno = #{bno}-->
<!--    </update>-->

<!--    <update id="increaseLikePoints" parameterType="board">-->
<!--        update board-->
<!--        set like_counts = #{like_counts} + 1-->
<!--        where bno = #{bno}-->
<!--    </update>-->
</mapper>