<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="File">
    <!--파일 insert-->
    <insert id="uploadFile" parameterType="com.example.dto.DF05_FileDTO">
        insert into file(file_name, origin_name, uploaded_date, updated_date, path, bno)
        values (#{file_name}, #{origin_name}, now(), now(), #{path}, #{bno})
    </insert>

    <select id="findFiles" parameterType="int" resultType="file">
        select * from file where bno=#{bno}
    </select>

</mapper>