<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="File">
    <!--파일 insert-->
    <insert id="uploadFile" parameterType="com.example.dto.DF05_FileDTO">
        insert into file(file_name, origin_name, uploaded_date, path)
        values (#{file_name}, #{origin_name}, now(), #{path})
        <selectKey keyProperty="fno" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS fno
        </selectKey>
    </insert>

    <!--비어있는 파일 bno에 게시글 bno 넣기-->
    <update id="updateBno" parameterType="java.util.Map">
        update file
        SET bno = #{bno}
        where fno = #{fno}
    </update>

    <!--파일 update-->
    <insert id="updateUploadFile" parameterType="com.example.dto.DF05_FileDTO">
        insert into file(file_name, origin_name, uploaded_date, path, bno)
        values (#{file_name}, #{origin_name}, now(), #{path}, #{bno})
    </insert>

    <select id="findFiles" parameterType="int" resultType="file">
        select * from file where bno=#{bno}
    </select>

    <!--모든 파일 찾기-->
    <select id="findAll" resultType="file">
        select *
        from file
    </select>

    <!--파일 삭제-->
    <delete id="deleteFile" parameterType="int">
        delete
        from file
        where fno = #{fno}
    </delete>
</mapper>